#heading1 {
  font-family: serif;
  font-weight: bolder;
  font-style: italic;
}

#heading2 {
  font-family: serif;
  font-weight: bolder;
}

#heading3 {
  font-family: serif;
  font-weight: bolder;
}

#heading4 {
  font-family: serif;
  font-weight: bolder;
}
